src/main/scala/com/soomo.opendata/AccTestApp.scala
src/main/scala/com/soomo.opendata/AnimationObjTest.scala
src/main/scala/com/soomo.opendata/APIEncryptionTest.scala
src/main/scala/com/soomo.opendata/ClientRequestComposerApp.scala
src/main/scala/com/soomo.opendata/ClientSideReqEncoder.scala
src/main/scala/com/soomo.opendata/JwtApp.scala
src/main/scala/com/soomo.opendata/Simple.scala
src/main/scala/com/soomo.opendata/TestAuth.scala
src/main/scala/com/soomo.opendata/TestEncrypt.scala
